.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.gallery-item {
    height: 245px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.gallery-item img:hover {
    filter: brightness(0.9);
}


.embed-container {
    grid-column: span 3;
    grid-row: span 3; 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 40px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sheet iframe {
    width: 600px;
    height: 220px;
    border: none;
    overflow: hidden;
}

.sheet iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 767px) {
    .embed-container {
        grid-column: span 1;
    }
}
