@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import 'typography';
@import 'technology';
@import 'blog-index';
@import 'gallery.scss';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../shared/fontawesome/scss/icons';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: $dark-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $dark-background-color;
}

* {
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
}

// Second body
.pageinside {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em 1em;
    background-color: $pageinside-dark;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.main {
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 2em;
}

* {
    color: $dark-font-color;
    box-sizing: border-box;
}


ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

.hednav {
    display: grid;
}

.nav {
    background-color: $navhedfot-dark;
}

.nav a {
    color: $dark-font-color;
}

.header {
    background-color: $navhedfot-dark;
}

.header, .footer {
    flex: 0 0 auto;
}

// Header
.header, .site-header {
    display: flex;
}

.box.colors a {
    color: #fff;
}

// Title
.title, .logo {
    padding: 1em 1em 1em 0;
}

.logo a img {
    // padding-left: 1rem;
    border-radius: 10%;
    width: 220px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
        float: left;
    }
    
    .logo {
        clear: left;
       
    }
}

.title * {
    color: $dark-font-color;
}

.title p {
    font-style: italic;
}

// Footer
.footer {
    background-color: $navhedfot-dark;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $dark-font-color;
}

.footer a {
    color: $dark-font-color;
}

.footer .social {
    font-size: 2rem;
}

code {
    background: #000;
}

pre {
    background: #000;
}

.box {
    background-color: $navhedfot-dark;
}
