.tech {
    display: flex;
    justify-content: center;
}
.landingpage {
    display: grid;
    gap: 1em 1em;
    width: 600px;
    height: 400px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(5, 12%);
}

.box {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 18px;
    // background-color: #ECCDB4;
    box-shadow: 2px 2px 2px black;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.python {
    grid-column: span 3;
}

.html,
.javascript,
.sqlite {
    grid-column: span 2;
}

@media (max-width: 767px) {
    .landingpage {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
        height: 600px;
    }

    .landingpage h1 {
        grid-column: span 3;
    }
}
